/* @override http://hiltongardeninnathens.com/sites/all/themes/navin/css/navin-alpha-default-narrow.css?m61cx6 */

/* This file will hold styles that are loaded using the same media query as the narrow grid. */

.logo-img {
  float: left;
  text-align: left;
}

/* User */
#region-user-first,
#region-user-second {
  margin: 0;
  position: absolute;
  right: 20px;
  top: 0;
  width: 50%;
}

/* Search Form */
#block-search-form {
  margin: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 25px;
  width: 300px;
  z-index: 1;
}

#region-menu nav.navigation ul.menu li.leaf {
  float: left;
  display: block;
}

div.main-home {
	float: left;
	width: 60%;
	margin-right: 5%;
}

div.home-right-gutter {
	width: 35%;
	display: inline-block;
}

/* @group Header | Branding */

#zone-branding {
	height: 178px;
	background: url(../images/hotel_athens_ga_narrow.jpg) no-repeat center;
}

#block-block-4 {
	text-align: right;
}

div.reservations {
	color: white;
}

#block-block-5 div.content {
	text-align: right;
	margin-top: 10px;
	position: relative;
	left: 10px;
	top: 10px;
}

img#logo {
	position: relative;
	right: 20px;
	top: -20px;
}



/* @end */