/* @override 
<<<<<<< HEAD
	http://hiltongardeninnathens.com/sites/all/themes/navin/css/prolifik-base.css?m68eu4
	http://hiltongardeninnathens.com/sites/all/themes/navin/css/prolifik-base.css?m68ixy
=======
	http://hi-express.loc/sites/all/themes/navin/css/prolifik-base.css?m5m03s
	http://hi-express.loc/sites/all/themes/navin/css/prolifik-base.css?m5pnkk
>>>>>>> 223c3da0f1d9b5be2f323fd9394e3b6e06a3927d
*/

/* This file will hold the main styles for your website. */

/* Links */
a, a:link {
  text-decoration: none;
}
a, a:link, a:visited, a:active {
  color: #0060C1;
}
a:hover {
  text-decoration: underline;
}

/* Headers */
body > #page h1, body > #page h2, body > #page h3,
body > #page h4, body > #page h5, body > #page h6 {
  border-color: #D4D4D4;
  color: #191F53;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1em;
}

body > #page h1#page-title {
  color: #191F53;
}

/* Admin Menu */
#admin-menu {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-filter: none;
  filter: none;
}

/* Drupal */
#messages .messages {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Page */
#page {
  position: relative;
}

/* Blocks */
.block .content {
  color: #626262;
}
.block .content li {
  margin-left: 2em;
}
.block .content .item-list li {
  margin: 0;
}



/* Sidebar */
#region-sidebar-first div.block-title,
#region-sidebar-second div.block-title {
}
#region-sidebar-first .block:first-child div.block-title {
  margin-top: 0;
}

.boxes-box-controls ul {
  margin: 0;
}

/* Content */
aside .block-title {
	text-align: center;
}

ul.tabs {
  *padding-top: 1px;
}

div.image-left a img, div.left img, img.left {
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}

<<<<<<< HEAD
#node-room-27 div.node-bottom img {
	width: 45%;
	padding: 2%;
}

/* @group Home Page */

img.three-pic {
	margin: 1%;
	width: 30%;
}

div.home-right-gutter {
	display: none;
}
div.home-right-gutter img {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: thin solid silver;
}

#block-block-7 div.block-title h2.block-title {
	text-align: center;
}

#block-block-7 div.content p {
	margin-bottom: 0;
	text-align: center;
}

#block-block-7 img {
	width: 100%;
	height: auto;
	border: thick solid gray;
	margin-bottom: 20px;
}



/* @end */

/* @group Reserve Form */

#block-block-1 {
	background-color: #ac3a42;
	color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 10%;
}

div.book-now {
	color: white;
	font-weight: bold;
	font-size: 2.25em;
	text-align: center;
}

#block-block-1 label {
	color: white;
	font-weight: lighter;
	margin-right: 10px;
	display: block;
	position: relative;
	top: 10px;
	clear: both;
}

#booking input#arrival.hasDatepicker, #booking input#departure.hasDatepicker  {width: 80%;margin-top: 8px;}

#booking form span.pound {
	color: black;
	font-size: 22px;
	position: relative;
	top: 10px;
	left: 5px;
}

#booking #numRooms {width: 80%;margin-top: 8px;
	margin-left: 9px;
}

#booking #submit {
	margin-top: 10px;
	display: block;
	float: none;
	clear: both;
	position: relative;
	width: 50%;
	margin-left: 25%;
}



/* @end */

div.view-specials-packages div.views-row, div.view-rooms div.views-row {
	border-top: thin solid #AD3B43;
	border-bottom: thin solid #AD3B43;
	padding-top: 10px;
	margin-top: 3px;
}
=======
img.left {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

/* @group Groups & Meetings */
#node-page-10 div.field-item img {
	width: 100%;
	height: auto;
}

>>>>>>> 223c3da0f1d9b5be2f323fd9394e3b6e06a3927d


/* @end */

<<<<<<< HEAD

/* @group Quicktabs */
=======
/* @group Sitewide */
>>>>>>> 223c3da0f1d9b5be2f323fd9394e3b6e06a3927d

#block-block-6 div.content a {
	clear: both;
}



/* @end */

/* @group Accomodations */

body.context-hotel-accommodations #zone-postfix img {
	width: 100%;
	height: auto;
}


div.rooms {
	float: left;
	width: 60%;
}


<<<<<<< HEAD
#webform-client-form-1 input.form-text, #edit-submitted-message {
	width: 100%;
	max-width: 440px;
}

#block-block-2, #block-webform-client-block-1 {
	margin-left: 20px;
}

#block-block-3 img, #block-block-6 img {
	width: 100%;
	height: auto;
	max-width: 480px;
}

#block-block-3 div.block-title h2.block-title div.text {
	text-align: center;
	margin-top: 35px;
}
#block-block-3 {
	text-align: center;
=======
div.rooms h3 {
	margin-bottom: 5px;
}

div.rooms ul.features li {
background-image: url(../images/bullet.jpg);
background-repeat: no-repeat;
background-position: 0 center;
	display: inline-block;
	clear: both;
	padding-top: 4px;
	padding-left: 28px;
	padding-bottom: 4px;
	text-align: left;
	width: 70%;
	margin-left: 0;
}

ul.features {
	padding-left: 0;
	margin-left: 0;
}

div.room-styles {
	clear: left;
}

div.room-class {
	clear: left;
	height: 160px;
>>>>>>> 223c3da0f1d9b5be2f323fd9394e3b6e06a3927d
}

#block-block-5 {margin-top: 2%;text-align: center;}

#block-block-5 img {max-width: 39px;
	margin-right: 5px;
	margin-left: 5px;

}

#block-block-5 .plus {
	position: relative;
	bottom: 3px;
}

#block-block-4 {
	text-align: center;
}

#block-block-6 {
	margin-top: 10px;
}

div.reservations {
	font-weight: lighter;
	font-size: 2em;
}

div.number {
	font-size: 2.25em;
	line-height: .5em;
}


/* @end */

/* @group Blocks */

#block-block-6 {
	font-size: 1.75em;
}



/* @end */

.node-type-room div.field-type-image div.field-item img {width: 100%;height: auto;
	
}

body.node-type-room div.more-link, #block-media-gallery-34 div.content div.more-link {
	display: none;	
}

div.accommodations-slides img {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	top: 30px;
}

#block-views-rooms-block div.block-title {
	text-align: center;
	background-color: #ac3a42;
	color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#block-views-rooms-block div.block-title div.text {
	color: white;
	padding: 5px;
}

div.view-footer img {
width: 100%;
height: auto;	
}

div.view-id-rooms div.view-header p {
	text-align: center;
	font-style: italic;
	margin-bottom: 0;
}

#block-views-rooms-block-1, #block-views-rooms-block-2 {
	text-align: justify;
	position: relative;
	top: 30px;
	margin-top: 30px;
}

#block-views-rooms-block-1 img, #block-views-rooms-block-2 img, {
	width: 100%;
	height: auto;
	clear: both;
}

img.hundred {width: 100%;height: auto;margin-top: 10px;
}




