/* @override 
	http://hiltongardeninnathens.com/sites/all/themes/navin/css/prolifik-base.css?m68eu4
	http://hiltongardeninnathens.com/sites/all/themes/navin/css/prolifik-base.css?m68ixy
*/

/* This file will hold the main styles for your website. */

/* Links */
a, a:link {
  text-decoration: none;
}
a, a:link, a:visited, a:active {
  color: #AD3B43;
}
a:hover {
  text-decoration: underline;
}

/* Headers */
body > #page h1, body > #page h2, body > #page h3,
body > #page h4, body > #page h5, body > #page h6 {
  border-color: #D4D4D4;
  color: #191F53;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1em;
}

body > #page h1#page-title {
  color: #191F53;
}

/* Admin Menu */
#admin-menu {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-filter: none;
  filter: none;
}

/* Drupal */
#messages .messages {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Page */
#page {
  position: relative;
}

/* Blocks */
.block .content {
  color: #626262;
}
.block .content li {
  margin-left: 2em;
}
.block .content .item-list li {
  margin: 0;
}



/* Sidebar */
#region-sidebar-first div.block-title,
#region-sidebar-second div.block-title {
}
#region-sidebar-first .block:first-child div.block-title {
  margin-top: 0;
}

.boxes-box-controls ul {
  margin: 0;
}

/* Content */
aside .block-title {
	text-align: center;
}

ul.tabs {
  *padding-top: 1px;
}

div.image-left a img, div.left img, img.left {
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}

#node-room-27 div.node-bottom img {
	width: 45%;
	padding: 2%;
}

/* @group Home Page */

img.three-pic {
	margin: 1%;
	width: 30%;
}

div.home-right-gutter {
	display: none;
}
div.home-right-gutter img {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: thin solid silver;
}

#block-block-7 div.block-title h2.block-title {
	text-align: center;
}

#block-block-7 div.content p {
	margin-bottom: 0;
	text-align: center;
}

#block-block-7 img {
	width: 100%;
	height: auto;
	border: thick solid gray;
	margin-bottom: 20px;
}



/* @end */

/* @group Reserve Form */

#block-block-1 {
	background-color: #ac3a42;
	color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 10%;
}

div.book-now {
	color: white;
	font-weight: bold;
	font-size: 2.25em;
	text-align: center;
}

#block-block-1 label {
	color: white;
	font-weight: lighter;
	margin-right: 10px;
	display: block;
	position: relative;
	top: 10px;
	clear: both;
}

#booking input#arrival.hasDatepicker, #booking input#departure.hasDatepicker  {width: 80%;margin-top: 8px;}

#booking form span.pound {
	color: black;
	font-size: 22px;
	position: relative;
	top: 10px;
	left: 5px;
}

#booking #numRooms {width: 80%;margin-top: 8px;
	margin-left: 9px;
}

#booking #submit {
	margin-top: 10px;
	display: block;
	float: none;
	clear: both;
	position: relative;
	width: 50%;
	margin-left: 25%;
}



/* @end */

div.view-specials-packages div.views-row, div.view-rooms div.views-row {
	border-top: thin solid #AD3B43;
	border-bottom: thin solid #AD3B43;
	padding-top: 10px;
	margin-top: 3px;
}

div.view-specials-packages div.views-row img {
	
}



/* @group Quicktabs */

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li.active {
	font-weight: bold;
}

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li {
	  background: rgb(242,237,237); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMiUiIHN0b3AtY29sb3I9IiNmMmVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNkM2NmZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(242,237,237,1) 32%, rgba(211,207,208,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,rgba(242,237,237,1)), color-stop(99%,rgba(211,207,208,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* IE10+ */
background: linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2eded', endColorstr='#d3cfd0',GradientType=0 );

}


ul.quicktabs-tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 1%;
  white-space: nowrap;
	border-top: thin solid #CACCCB;
	border-right: thin solid #CACCCB;
}

ul.quicktabs-tabs li a {
	color: #253690;
}


/* @end */

/* @group Custom Blocks */

#webform-client-form-1 input.form-text, #edit-submitted-message {
	width: 100%;
	max-width: 440px;
}

#block-block-2, #block-webform-client-block-1 {
	margin-left: 20px;
}

#block-block-3 img, #block-block-6 img {
	width: 100%;
	height: auto;
	max-width: 480px;
}

#block-block-3 div.block-title h2.block-title div.text {
	text-align: center;
	margin-top: 35px;
}
#block-block-3 {
	text-align: center;
}

#block-block-5 {margin-top: 2%;text-align: center;}

#block-block-5 img {max-width: 39px;
	margin-right: 5px;
	margin-left: 5px;

}

#block-block-5 .plus {
	position: relative;
	bottom: 3px;
}

#block-block-4 {
	text-align: center;
}

#block-block-6 {
	margin-top: 10px;
}

div.reservations {
	font-weight: lighter;
	font-size: 2em;
}

div.number {
	font-size: 2.25em;
	line-height: .5em;
}



/* @end */

.node-type-room div.field-type-image div.field-item img {width: 100%;height: auto;
	
}

body.node-type-room div.more-link, #block-media-gallery-34 div.content div.more-link {
	display: none;	
}

div.accommodations-slides img {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	top: 30px;
}

#block-views-rooms-block div.block-title {
	text-align: center;
	background-color: #ac3a42;
	color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#block-views-rooms-block div.block-title div.text {
	color: white;
	padding: 5px;
}

div.view-footer img {
width: 100%;
height: auto;	
}

div.view-id-rooms div.view-header p {
	text-align: center;
	font-style: italic;
	margin-bottom: 0;
}

#block-views-rooms-block-1, #block-views-rooms-block-2 {
	text-align: justify;
	position: relative;
	top: 30px;
	margin-top: 30px;
}

#block-views-rooms-block-1 img, #block-views-rooms-block-2 img, {
	width: 100%;
	height: auto;
	clear: both;
}

img.hundred {width: 100%;height: auto;margin-top: 10px;
}




